<h1>Student Enrollment Form</h1>

<form
#enrollForm="ngForm"
(ngSubmit)="onSubmit(enrollForm)">

    <!-- Student Name -->

    <label>Student Name</label>

    <input
        type="text"
        name="studentName"
        required
        minlength="3"
        #nameCtrl="ngModel"
        [(ngModel)]="studentName">

    <span
        class="error"
        *ngIf="nameCtrl.touched && nameCtrl.errors?.['required']">

        Name is required

    </span>

    <span
        class="error"
        *ngIf="nameCtrl.touched && nameCtrl.errors?.['minlength']">

        Name must be at least 3 characters

    </span>

    <br><br>

    <!-- Email -->

    <label>Student Email</label>

    <input
        type="email"
        name="studentEmail"
        required
        email
        #emailCtrl="ngModel"
        [(ngModel)]="studentEmail">

    <span
        class="error"
        *ngIf="emailCtrl.touched && emailCtrl.errors?.['required']">

        Email is required

    </span>

    <span
        class="error"
        *ngIf="emailCtrl.touched && emailCtrl.errors?.['email']">

        Enter a valid email

    </span>

    <br><br>

    <!-- Course ID -->

    <label>Course ID</label>

    <input
        type="number"
        name="courseId"
        required
        #courseCtrl="ngModel"
        [(ngModel)]="courseId">

    <span
        class="error"
        *ngIf="courseCtrl.touched && courseCtrl.errors?.['required']">

        Course ID is required

    </span>

    <br><br>

    <!-- Semester -->

    <label>Preferred Semester</label>

    <select
        name="preferredSemester"
        required
        #semesterCtrl="ngModel"
        [(ngModel)]="preferredSemester">

        <option value="">
            Select Semester
        </option>

        <option value="Odd">
            Odd
        </option>

        <option value="Even">
            Even
        </option>

    </select>

    <br><br>

    <!-- Terms -->

    <div class="checkbox">

        <input
            type="checkbox"
            name="agreeToTerms"
            required
            #termsCtrl="ngModel"
            [(ngModel)]="agreeToTerms">

        <label>
            I Agree to the Terms
        </label>

    </div>

    <span
        class="error"
        *ngIf="termsCtrl.touched && termsCtrl.errors?.['required']">

        Please accept the terms

    </span>

    <br><br>

    <!-- Buttons -->

    <button
        type="submit"
        [disabled]="enrollForm.invalid">

        Submit

    </button>

    <button
        type="button"
        (click)="enrollForm.resetForm()">

        Reset

    </button>

</form>

<!-- Success Message -->

<div
class="success"
*ngIf="submitted">

    Enrollment request submitted successfully!

</div>