# Maven
target/

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/

.github/