<p *ngIf="isLoading">
  Loading courses...
</p>

<div *ngIf="!isLoading">

  <ng-container *ngIf="(courses$ | async) as courses">

    <div *ngIf="courses.length > 0; else noCourses">

      <div *ngFor="let c of courses; trackBy: trackByCourseId">

        <app-course-card
          [course]="c"
          (enrollRequested)="onEnroll($event)"
          (viewRequested)="viewCourse($event)">
        </app-course-card>

        <button (click)="updateCourse(c)">
          Update
        </button>

        <button (click)="deleteCourse(c.id)">
          Delete
        </button>

        <hr>

      </div>

    </div>

  </ng-container>

</div>

<ng-template #noCourses>
  <p>No courses available.</p>
</ng-template>

<p *ngIf="selectedCourseId">
  Selected Course ID : {{ selectedCourseId }}
</p>