<h2>Reactive Enrollment Form</h2>

<form
  [formGroup]="enrollForm"
  (ngSubmit)="onSubmit()">

  <!-- Student Name -->
  <label>Name</label>

  <input
    type="text"
    formControlName="studentName">

  <div
    *ngIf="enrollForm.get('studentName')?.invalid &&
           enrollForm.get('studentName')?.touched">

    Name must be at least 3 characters.

  </div>

  <br><br>

  <!-- Student Email -->
  <label>Email</label>

  <input
    type="email"
    formControlName="studentEmail">

  <div
    *ngIf="enrollForm.get('studentEmail')?.errors?.['email'] &&
           enrollForm.get('studentEmail')?.touched">

    Enter a valid email.

  </div>

  <div
    *ngIf="enrollForm.get('studentEmail')?.errors?.['emailTaken'] &&
           enrollForm.get('studentEmail')?.touched">

    Email already exists.

  </div>

  <br><br>

  <!-- Course ID -->
  <label>Course ID</label>

  <input
    type="text"
    formControlName="courseId">

  <div
    *ngIf="enrollForm.get('courseId')?.errors?.['required'] &&
           enrollForm.get('courseId')?.touched">

    Course ID is required.

  </div>

  <div
    *ngIf="enrollForm.get('courseId')?.errors?.['noCourseCode'] &&
           enrollForm.get('courseId')?.touched">

    Course code starting with XX is not allowed.

  </div>

  <br><br>

  <!-- Semester -->
  <label>Semester</label>

  <select formControlName="preferredSemester">

    <option>Odd</option>
    <option>Even</option>

  </select>

  <br><br>

  <hr>

  <!-- FormArray -->
  <h3>Additional Courses</h3>

  <button
    type="button"
    (click)="addCourse()">

    Add Another Course

  </button>

  <br><br>

  <div
    *ngFor="let ctrl of additionalCourses.controls; let i = index">

    <input
      [formControl]="ctrl"
      placeholder="Course Name">

    <button
      type="button"
      (click)="removeCourse(i)">

      Remove

    </button>

    <div
      *ngIf="ctrl.invalid && ctrl.touched">

      Course name is required.

    </div>

    <br><br>

  </div>

  <!-- Agree Terms -->
  <label>

    <input
      type="checkbox"
      formControlName="agreeToTerms">

    Agree Terms

  </label>

  <div
    *ngIf="enrollForm.get('agreeToTerms')?.invalid &&
           enrollForm.get('agreeToTerms')?.touched">

    Please accept the terms.

  </div>

  <br><br>

  <!-- Submit -->
  <button
    type="submit"
    [disabled]="enrollForm.invalid">

    Submit

  </button>

</form>